<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Desabilita listagem de diretórios -->
        <directoryBrowse enabled="false" />
        
        <!-- Regras de reescrita de URL -->
        <rewrite>
            <rules>
                <rule name="Hide Directories" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
                    </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>
                <rule name="Redirect to index.html" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/index.html$" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- Bloqueia acesso a arquivos de configuração -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="web.config" />
                    <add segment=".htaccess" />
                    <add segment="pnpm-lock.yaml" />
                    <add segment="package.json" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
